In [1]:
import pandas as pd 
data = {
    'Date':['1/1/2021','2/1/2021','3/1/2021','4/1/2021','5/1/2021'],
    'Temperature':[30,31,33,29,32],
    'WindSpeed':[5,6,4,6,3],
    'Event':['Rainy','Sunny', 'Sunny','Rainy', 'Rainy']
}

df = pd.DataFrame(data)
df

       Date  Temperature  WindSpeed  Event
0  1/1/2021           30          5  Rainy
1  2/1/2021           31          6  Sunny
2  3/1/2021           33          4  Sunny
3  4/1/2021           29          6  Rainy
4  5/1/2021           32          3  Rainy

In [2]:
df.shape

(5, 4)

In [3]:
df.max()

Date           5/1/2021
Temperature          33
WindSpeed             6
Event             Sunny
dtype: object

In [4]:
rows, columns = df.shape
rows

5

In [5]:
columns

4

In [6]:
df.head(2)

       Date  Temperature  WindSpeed  Event
0  1/1/2021           30          5  Rainy
1  2/1/2021           31          6  Sunny

In [7]:
df.tail(2)

       Date  Temperature  WindSpeed  Event
3  4/1/2021           29          6  Rainy
4  5/1/2021           32          3  Rainy

In [9]:
df['Temperature'].max()

33

In [11]:
df['Date'][df['Event']=='Rainy']

0    1/1/2021
3    4/1/2021
4    5/1/2021
Name: Date, dtype: object

In [12]:
df['WindSpeed'].mean()

4.8