In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df.max()

day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object

In [9]:
df['temperature'].max()

np.int64(35)

In [11]:
df['day'] [df['event']== 'Rain']

0    1/1/2017
4    1/5/2017
Name: day, dtype: object

In [12]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [4]:
# data structure for pandas 
# series, DataFrame and panel 
a = pd.Series()
a
x = [3,4,5,6,7,8]
var = pd.Series(x, index=['a','b','c','d','e','f'], name="Python")
var

a    3
b    4
c    5
d    6
e    7
f    8
Name: Python, dtype: int64

In [5]:
print(type(var))

<class 'pandas.core.series.Series'>

In [6]:
print(var[2])

5

C:\Users\H\AppData\Local\Temp\ipykernel_12828\580362577.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[2])

In [7]:
dic = {"name": ['python','C','C++', 'Java'], "Popularity": [12,13,14,16], "rank": [1,4,2,3]}
var1 = pd.Series(dic)
print(var1)

name          [python, C, C++, Java]
Popularity          [12, 13, 14, 16]
rank                    [1, 4, 2, 3]
dtype: object

In [9]:
s = pd.Series(12)
s

0    12
dtype: int64

In [10]:
s1 = pd.Series(12, index=[1,2,3,4] )
s1

1    12
2    12
3    12
4    12
dtype: int64

In [11]:
s1 = pd.Series(12, index=[1,2,3,4,5,6,7])
s2 = pd.Series(12, index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64