In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.max()

day            1/6/2017
temperature          35
windspeed             7
event             Sunny
dtype: object

In [4]:
# data structure for pandas 
# series, DataFrame and panel 
a = pd.Series()
a
x = [3,4,5,6,7,8]
var = pd.Series(x, index=['a','b','c','d','e','f'], name="Python")
var

a    3
b    4
c    5
d    6
e    7
f    8
Name: Python, dtype: int64

In [5]:
print(type(var))

<class 'pandas.core.series.Series'>

In [6]:
print(var[2])

5

C:\Users\H\AppData\Local\Temp\ipykernel_12828\580362577.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[2])

In [7]:
dic = {"name": ['python','C','C++', 'Java'], "Popularity": [12,13,14,16], "rank": [1,4,2,3]}
var1 = pd.Series(dic)
print(var1)

name          [python, C, C++, Java]
Popularity          [12, 13, 14, 16]
rank                    [1, 4, 2, 3]
dtype: object